<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam a quos
    reprehenderit, modi fugiat qui eos et aliquid excepturi sunt!
  </p>
</blockquote>
<footer>
  <div class="media">
    <div class="media__image">
      <svg class="icon icon--primary quote__line">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title quote__author">Malcolm Mathangani</h3>
      <p class="quote__company">Waihiga Coffee Farm</p>
    </div>
  </div>
</footer>
